.blog-detail {
  padding-top: 100px;
}

@media screen and (max-width: 750px) {
  .blog-detail {
    padding-top: 50px;
  }
}

.blog-detail article .blog-title h1 {
  font-size: 3rem;
  color: black;
}

@media screen and (max-width: 750px) {
  .blog-detail article .blog-title h1 {
    font-size: 2rem;
  }
}

.blog-detail article .blog-title h2 {
  font-size: 1.3rem;
  font-weight: 400;
  color: #3f3f3f;
}

.blog-detail article .blog-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blog-detail article .blog-category h5 {
  padding: 5px;
  background-color: #a3a3a3;
  color: white;
  font-size: 0.8rem;
  border-radius: 5px;
  margin-right: 10px;
}

.blog-detail article .blog-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog-detail article .blog-author .author-img {
  height: 20px;
  width: 20px;
}

.blog-detail article .blog-author .author-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.blog-detail article .blog-author .author-name {
  margin-left: 20px;
}

.blog-detail article .blog-author .author-name span {
  margin-left: 10px;
  color: grey;
}

.blog-detail article .blog-timeline {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.blog-detail article .blog-timeline span {
  font-size: 0.8rem;
}

.blog-detail article .blog-img {
  margin: 50px 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 750px) {
  .blog-detail article .blog-img {
    margin: 10px 0;
  }
}

.blog-detail article .blog-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.blog-detail article .share-icons {
  margin-top: -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 750px) {
  .blog-detail article .share-icons {
    margin-top: 0px;
  }
}

.blog-detail article .share-icons a i {
  font-size: 1.5rem;
  margin-left: 10px;
}

.blog-detail article .share-icons a .text-success {
  color: #1BC5BD !important;
}

.blog-detail article .share-icons a .text-primary {
  color: #3699FF !important;
}

.blog-content h1, .blog-content h2, .blog-content h3, .blog-content h4, .blog-content h5, .blog-content h6 {
  margin-top: 3rem !important;
  margin-bottom: 1rem !important;
  color: black !important;
}

.blog-content h1 {
  font-size: 3rem;
}

@media screen and (max-width: 750px) {
  .blog-content h1 {
    font-size: 2rem;
  }
}

.blog-content h2 {
  font-size: 2.5rem;
}

@media screen and (max-width: 750px) {
  .blog-content h2 {
    font-size: 1.3rem;
  }
}

.blog-content h3 {
  font-size: 2rem;
}

@media screen and (max-width: 750px) {
  .blog-content h3 {
    font-size: 1.2rem;
  }
}

.blog-content p, .blog-content li {
  padding: 0 20px !important;
  font-size: 16px;
  line-height: 32px;
}

.blog-content .ul {
  padding: 10px 30px !important;
}

.blog-content ol {
  padding-left: 10px 30px !important;
}

.blog-content ol li {
  padding: 10px 20px !important;
}

.blog-content a {
  color: black !important;
  text-decoration: underline;
}

.blog-content pre {
  margin: 0 20px !important;
  background: #F3F6F9;
  font-size: 14px !important;
}

.blog-content pre code {
  display: block;
  padding: 10px;
}

.blog-content code {
  color: #e83e8c;
  word-wrap: break-word;
  background-color: #F3F6F9;
  padding: 0.15rem 0.5rem;
  font-weight: 400;
  border-radius: 0.42rem;
  overflow-x: scroll;
}
/*# sourceMappingURL=blog.css.map */